.navbar {
  background: transparent;
  width: 100vw;
  position: fixed;
  top: 0;

  &__links {
    max-width: 1440px;
    margin: auto;
    box-sizing: border-box;
    &.main {
      padding: 2rem 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .nav__links-container {
    display: flex;
    gap: 20px;
    @media screen and (max-width: 640px) {
      display: none;
    }
    .nav-link {
      text-decoration: none;
      color: #fff;
      &:hover {
        color: red;
      }
      &:focus {
        outline: none;
        border: 2px solid blue;
      }
    }
  }
  .nav__links-container-link {
    display: flex;
    align-items: center;
    gap: 20px;
    @media screen and (max-width: 768px) {
      display: none;
    }
    .nav-link {
      text-decoration: none;
      color: #fff;
      &:hover {
        color: red;
      }
    }

    > .signUp-btn {
      background: #ff4820;
      border-radius: 5px;
      padding: 1rem;
      border: none;
      color: white;
    }
  }
  .navbar-menu {
    display: none;
    color: whitesmoke;
    @media screen and (max-width: 1024px) {
      display: block;
    }
    .navbar-menu-container {
      position: absolute;
      top: 0;
      left: 0;
      background: whitesmoke;
      padding: 40px;
      width: 100vw;
      height: 70vh;

      &-links {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 20px;
        align-items: flex-start;

        .ri-closeLine {
          position: absolute;
          color: black;
          right: 112px;
          top: 30px;
        }

        > a {
          text-decoration: none;
        }
        &-btn {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          gap: 20px;
          > a {
            text-decoration: none;
          }
          .signUp-btn {
            background: #ff4820;
            border-radius: 5px;
            padding: 1rem;
            border: none;
          }
        }
      }
    }
  }
}
// navbarDone
