.banner {
  // overflow-y: auto;
  background: #002853;
  max-width: 1440px;
  margin: auto;
  // padding: 0rem 2rem;

  &-main {
    padding: 9rem 2rem;
    background-image: url(/src/assets/banner.png);
    background-size: 647px 702px;
    background-position: right;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 1080px) {
      background-image: none;
      padding: 70px 20px;
    }
    &__header {
    }
    // .ban-img {
    //   overflow: auto;
    //   position: absolute;

    //   top: 112px;
    //   right: 0;
    //   width: 647px;
    //   height: 702px;
    //   @media screen and (max-width: 1024px) {
    //     display: none;
    //   }

    // }
  }
}
